.counter{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  background-color: blue;
  border: none;
  color: white;
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;

}